{
  "extends": [
    "standard"
  ],
  "plugins": [
    "tree-shaking"
  ],
  "rules": {
    "tree-shaking/no-side-effects-in-initialization": [
      2,
      {
        "compatibility": "rollup"
      }
    ]
  }
}
