{
  "hooks": {
    "pre-commit": "lint-staged",
    "commit-msg": "commitlint --edit ./.git/COMMIT_EDITMSG",
    "post-commit": "git reset",
    "pre-push": "npm test",
    "post-checkout": "npm install",
    "post-merge": "npm install",
    "post-rewrite": "npm install"
  }
}
