language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: true
node_js:
  - 'node'
  - '8'
  - '6'
before_script:
  - npm prune
  - npm run build
script:
  - istanbul cover ./node_modules/.bin/_mocha --report lcovonly -- -R spec
  - codecov
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
